[Unit]
Description=K3S Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/k3s server --selinux
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

