[Unit]
Description=K3S activation gate
ConditionPathExists=/etc/k3s/enabled
Before=k3s-server.service k3s-agent.service

[Service]
Type=oneshot
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target

