[Unit]
Description=K3S Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/k3s agent --selinux
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

